<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork900-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1>Extracting and Visualizing Stock Data</h1>
<h2>Description</h2>

Extracting essential data from a dataset and displaying it is a necessary part of data science; therefore individuals can make correct decisions based on the data. In this assignment, you will extract some stock data, you will then display this data in a graph.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Define a Function that Makes a Graph</li>
        <li>Question 1: Use yfinance to Extract Stock Data</li>
        <li>Question 2: Use Webscraping to Extract Tesla Revenue Data</li>
        <li>Question 3: Use yfinance to Extract Stock Data</li>
        <li>Question 4: Use Webscraping to Extract GME Revenue Data</li>
        <li>Question 5: Plot Tesla Stock Graph</li>
        <li>Question 6: Plot GameStop Stock Graph</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

In [ ]:
!pip install yfinance==0.1.67
!mamba install bs4==4.10.0 -y
!pip install nbformat==4.2.0
!mamba install html5lib==1.1 -y

Requirement already satisfied: yfinance==0.1.67 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (0.1.67)
Requirement already satisfied: pandas>=0.24 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (1.21.6)
Requirement already satisfied: requests>=2.20 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (2.29.0)
Requirement already satisfied: multitasking>=0.0.7 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (4.9.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas>=0.24->yfinance==0.1.67) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas>=0.24->yfinance==0.1.67) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (2023.5.7)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance==0.1.67) (1.16.0)

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (1.4.2) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['bs4==4.10.0']

[+] 0.0s
pkgs/main/linux-64 ━━━━━━━━━━━╸━━━━━━━━━━━━━   0.0 B /  ??.?MB @  ??.?MB/s  0.0s[+] 0.1s
pkgs/main/linux-64 ━━━━━━━━━━━╸━━━━━━━━━━━━━   0.0 B /  ??.?MB @  ??.?MB/s  0.1s
pkgs/main/noarch   ━━━━━━━━━╸━━━━━━━━━━━━━━━   0.0 B /  ??.?MB @  ??.?MB/s  0.1s
pkgs/r/linux-64    ━━━━━━━━╸━━━━━━━━━━━━━━━━   0.0 B /  ??.?MB @  ??.?MB/s  0.1s
pkgs/r/noarch      ━━━━━━━━╸━━━━━━━━━━━━━━━━   0.0 B /  ??.?MB @  ??.?MB/s  0.1spkgs/main/linux-64                                            No change
pkgs/r/noarch                                                 No change
pkgs/main/noarch                                              No change
pkgs/r/linux-64                                               No change

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  All requested packages already installed

In [72]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

## Define Graphing Function

In this section, we define the function `make_graph`. You don't have to know how the function works, you should only care about the inputs. It takes a dataframe with stock data (dataframe must contain Date and Close columns), a dataframe with revenue data (dataframe must contain Date and Revenue columns), and the name of the stock.

In [64]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

## Question 1: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is `TSLA`.

In [15]:
Tesla = yf.Ticker("TSLA")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `tesla_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [16]:
Tesla1 =Tesla.history(peroid="max")
Tesla1

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-05-30,200.100006,204.479996,197.529999,201.160004,128818700,0,0
2023-05-31,199.779999,203.949997,195.119995,203.929993,150711700,0,0
2023-06-01,202.589996,209.800003,199.369995,207.520004,148029900,0,0
2023-06-02,210.149994,217.250000,209.750000,213.970001,164129000,0,0
2023-06-05,217.800003,221.289993,214.520004,217.610001,151143100,0,0
2023-06-06,216.139999,221.910004,212.529999,221.309998,146911600,0,0
2023-06-07,228.000000,230.830002,223.199997,224.570007,185710800,0,0
2023-06-08,224.220001,235.229996,223.009995,234.860001,164489700,0,0
2023-06-09,249.070007,252.419998,242.020004,244.399994,199882300,0,0
2023-06-12,247.940002,250.970001,244.589996,249.830002,150337900,0,0
2023-06-13,253.509995,259.679993,251.339996,258.709991,162384300,0,0
2023-06-14,260.170013,261.570007,250.500000,256.790009,170575500,0,0
2023-06-15,248.399994,258.950012,247.289993,255.899994,160171200,0,0
2023-06-16,258.920013,263.600006,257.209991,260.540009,167563700,0,0
2023-06-20,261.500000,274.750000,261.119995,274.450012,165611200,0,0
2023-06-21,275.130005,276.989990,257.779999,259.459991,211797100,0,0
2023-06-22,250.770004,265.000000,248.250000,264.609985,166875900,0,0
2023-06-23,259.290009,262.450012,252.800003,256.600006,176584100,0,0
2023-06-26,250.070007,258.369995,240.699997,241.050003,179990600,0,0
2023-06-27,243.240005,250.389999,240.850006,250.210007,164968200,0,0
2023-06-28,249.699997,259.880005,248.889999,256.239990,159148200,0,0

In [17]:
Tesla_data = pd.DataFrame(Tesla1)
Tesla_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-05-30,200.100006,204.479996,197.529999,201.160004,128818700,0,0
2023-05-31,199.779999,203.949997,195.119995,203.929993,150711700,0,0
2023-06-01,202.589996,209.800003,199.369995,207.520004,148029900,0,0
2023-06-02,210.149994,217.250000,209.750000,213.970001,164129000,0,0
2023-06-05,217.800003,221.289993,214.520004,217.610001,151143100,0,0
2023-06-06,216.139999,221.910004,212.529999,221.309998,146911600,0,0
2023-06-07,228.000000,230.830002,223.199997,224.570007,185710800,0,0
2023-06-08,224.220001,235.229996,223.009995,234.860001,164489700,0,0
2023-06-09,249.070007,252.419998,242.020004,244.399994,199882300,0,0
2023-06-12,247.940002,250.970001,244.589996,249.830002,150337900,0,0
2023-06-13,253.509995,259.679993,251.339996,258.709991,162384300,0,0
2023-06-14,260.170013,261.570007,250.500000,256.790009,170575500,0,0
2023-06-15,248.399994,258.950012,247.289993,255.899994,160171200,0,0
2023-06-16,258.920013,263.600006,257.209991,260.540009,167563700,0,0
2023-06-20,261.500000,274.750000,261.119995,274.450012,165611200,0,0
2023-06-21,275.130005,276.989990,257.779999,259.459991,211797100,0,0
2023-06-22,250.770004,265.000000,248.250000,264.609985,166875900,0,0
2023-06-23,259.290009,262.450012,252.800003,256.600006,176584100,0,0
2023-06-26,250.070007,258.369995,240.699997,241.050003,179990600,0,0
2023-06-27,243.240005,250.389999,240.850006,250.210007,164968200,0,0
2023-06-28,249.699997,259.880005,248.889999,256.239990,159148200,0,0

**Reset the index** using the `reset_index(inplace=True)` function on the tesla_data DataFrame and display the first five rows of the `tesla_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 1 to the results below.

In [18]:
Tesla_data.reset_index(inplace=True)

In [19]:
Tesla_data.head

<bound method NDFrame.head of          Date        Open        High         Low       Close     Volume  \
0  2023-05-30  200.100006  204.479996  197.529999  201.160004  128818700
1  2023-05-31  199.779999  203.949997  195.119995  203.929993  150711700
2  2023-06-01  202.589996  209.800003  199.369995  207.520004  148029900
3  2023-06-02  210.149994  217.250000  209.750000  213.970001  164129000
4  2023-06-05  217.800003  221.289993  214.520004  217.610001  151143100
5  2023-06-06  216.139999  221.910004  212.529999  221.309998  146911600
6  2023-06-07  228.000000  230.830002  223.199997  224.570007  185710800
7  2023-06-08  224.220001  235.229996  223.009995  234.860001  164489700
8  2023-06-09  249.070007  252.419998  242.020004  244.399994  199882300
9  2023-06-12  247.940002  250.970001  244.589996  249.830002  150337900
10 2023-06-13  253.509995  259.679993  251.339996  258.709991  162384300
11 2023-06-14  260.170013  261.570007  250.500000  256.790009  170575500
12 2023-06-15  248.399994  258.950012  247.289993  255.899994  160171200
13 2023-06-16  258.920013  263.600006  257.209991  260.540009  167563700
14 2023-06-20  261.500000  274.750000  261.119995  274.450012  165611200
15 2023-06-21  275.130005  276.989990  257.779999  259.459991  211797100
16 2023-06-22  250.770004  265.000000  248.250000  264.609985  166875900
17 2023-06-23  259.290009  262.450012  252.800003  256.600006  176584100
18 2023-06-26  250.070007  258.369995  240.699997  241.050003  179990600
19 2023-06-27  243.240005  250.389999  240.850006  250.210007  164968200
20 2023-06-28  249.699997  259.880005  248.889999  256.239990  159148200

    Dividends  Stock Splits
0           0             0
1           0             0
2           0             0
3           0             0
4           0             0
5           0             0
6           0             0
7           0             0
8           0             0
9           0             0
10          0             0
11          0             0
12          0             0
13          0             0
14          0             0
15          0             0
16          0             0
17          0             0
18          0             0
19          0             0
20          0             0  >

## Question 2: Use Webscraping to Extract Tesla Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm Save the text of the response as a variable named `html_data`.

In [20]:
url ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"

Parse the html data using `beautiful_soup`.

In [21]:
Tesla_data = requests.get(url).text

In [22]:
soup = BeautifulSoup(Tesla_data, 'html5lib')

Using `BeautifulSoup` or the `read_html` function extract the table with `Tesla Quarterly Revenue` and store it into a dataframe named `tesla_revenue`. The dataframe should have columns `Date` and `Revenue`.

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [59]:
tesla_revenue= pd.DataFrame(columns = ['Date','Revenue'])

for row in soup.find_all('tbody')[1].find_all('tr'):
    col = row.find_all('td')
    date = col[0].text
    revenue = col[1].text.replace('$','').replace(',','')
    
    tesla_revenue = tesla_revenue.append({'Date': date, 'Revenue' :revenue },ignore_index = True)
    tesla_revenue

In [60]:
tesla_revenue.head()

         Date Revenue
0  2022-09-30   21454
1  2022-06-30   16934
2  2022-03-31   18756
3  2021-12-31   17719
4  2021-09-30   13757

Execute the following line to remove the comma and dollar sign from the `Revenue` column.

In [28]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

Execute the following lines to remove an null or empty strings in the Revenue column.

In [29]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

Display the last 5 row of the `tesla_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [61]:
tesla_revenue.tail()

          Date Revenue
49  2010-06-30      28
50  2010-03-31      21
51  2009-12-31
52  2009-09-30      46
53  2009-06-30      27

## Question 3: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is `GME`.

In [ ]:
GameStop = yf.Ticker("GME")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `gme_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [ ]:
gme_data = GameStop.history(period ="max")
gme_data

**Reset the index** using the `reset_index(inplace=True)` function on the gme_data DataFrame and display the first five rows of the `gme_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 3 to the results below.

In [ ]:
gme_data.reset_index(inplace = True)
gme_data.head()

## Question 4: Use Webscraping to Extract GME Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html. Save the text of the response as a variable named `html_data`.

In [ ]:
url=" https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html."

Parse the html data using `beautiful_soup`.

In [ ]:
Gme_data = requests.get(url).text
print(Gme_data)

In [ ]:
soup=BeautifulSoup(Gme_data,"html5lib")

Using `BeautifulSoup` or the `read_html` function extract the table with `GameStop Quarterly Revenue` and store it into a dataframe named `gme_revenue`. The dataframe should have columns `Date` and `Revenue`. Make sure the comma and dollar sign is removed from the `Revenue` column using a method similar to what you did in Question 2.

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [53]:
gme_revenue = pd.DataFrame(columns = ['Date', 'Revenue'])

for row in soup.find_all("tbody")[1].find_all("tr"):
    col = row.find_all("td")
    date = col[0].text
    revenue = col[1].text.replace("$", "").replace(",", "")
    
    gme_revenue = gme_revenue.append({"Date": date, "Revenue": revenue}, ignore_index = True)

Display the last five rows of the `gme_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [54]:
gme_revenue.tail()

          Date Revenue
49  2010-06-30      28
50  2010-03-31      21
51  2009-12-31
52  2009-09-30      46
53  2009-06-30      27

In [55]:
gme_revenue.head()

         Date Revenue
0  2022-09-30   21454
1  2022-06-30   16934
2  2022-03-31   18756
3  2021-12-31   17719
4  2021-09-30   13757

## Question 5: Plot Tesla Stock Graph

Use the `make_graph` function to graph the Tesla Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(tesla_data, tesla_revenue, 'Tesla')`. Note the graph will only show data upto June 2021.

In [78]:
make_graph(Tesla_data, tesla_revenue, 'Tesla')

AttributeError: 'str' object has no attribute 'Date'

In [74]:
make_graph(Tesla_data, tesla_revenue, 'Tesla')

AttributeError: 'str' object has no attribute 'Date'

## Question 6: Plot GameStop Stock Graph

Use the `make_graph` function to graph the GameStop Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`. Note the graph will only show data upto June 2021.

In [79]:
make_graph(gme_data, gme_revenue, 'GameStop')

NameError: name 'gme_data' is not defined

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork900-2022-01-01">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description        |
| ----------------- | ------- | ------------- | ------------------------- |
| 2022-02-28        | 1.2     | Lakshmi Holla | Changed the URL of GameStop |
| 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part |
| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab       |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

<p>